.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .loader-text {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .loader-circle {
    border: 6px solid rgba(0, 0, 0, 0.1); /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 48px; /* Adjust the size here */
    height: 48px; /* Adjust the size here */
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }